

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container{
  vertical-align: top;

}
.container > aside,
.container > section{
  display: inline-block;
  vertical-align: top;
}



/* ==========================================================================
   SECTION: Main Video
   ========================================================================== */



.main-video{
  background:#ff0000;
  height:300px;
}

/* ==========================================================================
   SECTION: Sidebar
   ========================================================================== */

.sidebar{
  background:#ff5100;
  height: 100%;
  float:right;
}

.video-item{

  height:150px;
  border:1px solid white;
}


/* ==========================================================================
   SECTION: Categories
   ========================================================================== */

.categories{

  background:#ffff00;
}

.categories .row{
  margin: 0 0 30px 0;
}

.video-stack{
  background-color:#111;
  height:250px;

}




