

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container{
  vertical-align: top;

}
.container > aside,
.container > section{
  display: inline-block;
  vertical-align: top;
}



/* ==========================================================================
   SECTION: Main Video
   ========================================================================== */



.main-video{
  background:rgba(255,0,0,0.3);
  border-right:1px solid #ccc;
}

/* ==========================================================================
   SECTION: Sidebar
   ========================================================================== */

.sidebar{
  height: 100%;
  float:right;
}

.sidebar-title{
  font-weight:bold;
}

.video-item{
  margin:15px 30px;
}

.video-thumb{
  background-image:url(http://placevaughnandfranco.it/img/300/200);
  background-size:cover;
  width:100%;
  height:120px;
  position:relative;
}

.video-item:nth-child(4n+1) .video-thumb{
  background-image:url(http://placevaughnandfranco.it/img/300/201);
}

.video-item:nth-child(4n+2) .video-thumb{
  background-image:url(http://placevaughnandfranco.it/img/300/204);
}

.video-item:nth-child(4n+3) .video-thumb{
  background-image:url(http://placevaughnandfranco.it/img/300/205);
}

.video-duration{
  position: absolute;
  bottom:5px;
  right:5px;
  background:#111;
  color:#fff;
  font-weight:bold;
  padding: 2px 5px;
}

.video-item .video-title{
  font-weight:bold;
}

/* ==========================================================================
   SECTION: Categories
   ========================================================================== */

.categories{

  background:rgba(255,0,0,0.1);
  border-right:1px solid #ccc;
}

.categories .row{
  margin: 0 0 30px 0;
}

.video-stack{
  background-color:#111;
  height:300px;
  position:relative;
}

.video-stack > div{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  background-size:cover;
  z-index: 2;
}

.video-stack > div.stack-cover{
  width:100%;
  height:100%;
  background-image:url(http://placevaughnandfranco.it/img/300/201);
  background-size:cover;
  padding:20px;
}

.categories .row:nth-child(2n+0) .col-md-6:nth-child(2n+0) .video-stack > div.stack-cover{
  background-image:url(http://placevaughnandfranco.it/img/300/201);
}

.categories .row:nth-child(2n+0) .col-md-6:nth-child(2n+1) .video-stack > div.stack-cover{
  background-image:url(http://placevaughnandfranco.it/img/300/206);
}

.categories .row:nth-child(2n+1) .col-md-6:nth-child(2n+0) .video-stack > div.stack-cover{
  background-image:url(http://placevaughnandfranco.it/img/300/203);
}

.categories .row:nth-child(2n+1) .col-md-6:nth-child(2n+1) .video-stack > div.stack-cover{
  background-image:url(http://placevaughnandfranco.it/img/300/205);
}

.video-stack > div.stack-shadow{
  background:#111;
  width:98%;
  height:100%;
  margin-top:5px;
  z-index: 1;
    -webkit-box-shadow: 0 1px 2px 0px #666;
       -moz-box-shadow: 0 1px 2px 0px #666;
            box-shadow: 0 1px 2px 0px #666;
}

.video-stack > div.stack-shadow:nth-child(2){
  width:96%;
  margin-top:10px;
}

.video-stack .video-title{
  font-weight:bold;

}

.video-stack .video-cover-row{
  position:absolute;
  bottom:0;
  left: 0;
  right: 0;
  height:100px;
}

.video-stack .video-cover-row > div{
  line-height: 100px;
}

.video-stack .video-view-all{
  font-weight:bold;
  text-align:left;
  float:left;
}

.video-stack .btn-video-cta{
  width:100px;
  height:100px;
  border-radius:50%;
  border:5px solid #fff;
  text-align:right;
  float:right;
  color:white;
}

/* ==========================================================================
   SECTION: Footer
   ========================================================================== */

footer{

}

.footer-title{
  text-transform: uppercase;
  font-weight:bold;
}

.footer-items{
  list-style:none;
  padding:0;
  margin:0;

}

.footer-item{
  list-style:none;

}

.footer-link{
  color:#111;
}

